body {
    background-color: #fAfAfA;
}

.btn-active {
    background-color: #C4DBFA !important;
}


.modal-header {
    border-bottom: none !important;
}

.modal-footer {
    border-top: none !important;
}