{% extends 'layout/dashboard.html' %}
{% load static %}
{% block custom-css %}
{% endblock custom-css %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mb-3 text-center">
                    <div class="card-header bg-primary text-white ">Doctors</div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Number of doctors</h5>
                        <h1>{{ doctor_count }}</h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 text-center">
                    <div class="card-header bg-primary text-white">Department</div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Number of Departments</h5>
                        <h1>{{ department_count }}</h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 text-center">
                    <div class="card-header bg-primary text-white">Appiontment</div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Number of Appointment</h5>
                        <h1>{{ appointment_count }}</h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 text-center">
                    <div class="card-header bg-primary text-white">Patients</div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Number of patients</h5>
                        <h1>{{ patient_count }}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-6 gap-4">
            <div class="col ">
                <div class="table-responsive shadow-4 ">
                    <table class="table align-middle mb-0 bg-white">
                        <thead class="bg-primary text-white ">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Title</th>
                                <th>Specalist</th>
                                <th>Experince</th>
                                <th>Status</th>
                                <th>Fee</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for doctor in doctors %}
                                <tr>
                                    <td>{{ doctor.user.first_name }} {{ doctor.user.last_name }}</td>
                                    <td>{{ doctor.user.email }}</td>
                                    <td>{{ doctor.qualification }}</td>
                                    <td>{{ doctor.specialization }}</td>
                                    <td>{{ doctor.experience }}</td>
                                    <td>{{ doctor.is_active }}</td>
                                    <td>{{ doctor.fee }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mt-8">
                <div class="table-responsive shadow-4 ">
                    <table class="table align-middle mb-0 bg-white">
                        <thead class="bg-primary text-white ">
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Age
                                </th>
                                <th>
                                    Gaurdian
                                </th>
                                <th>
                                    Location
                                </th>
                                <th>
                                    Dob
                                </th>
                                <th>
                                    Sex
                                </th>
                                <th>
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for patient in patients %}
                                <tr>
                                    <td>
                                        {{ patient.user.first_name }} {{ patient.user.last_name }}
                                    </td>
                                    <td>
                                        {{ patient.user.email }}
                                    </td>
                                    <td>
                                        {{ patient.age }}
                                    </td>
                                    <td>
                                        {{ patient.guardian_name }}
                                    </td>
                                    <td>
                                        {{ patient.location }}
                                    </td>
                                    <td>
                                        {{ patient.dob }}
                                    </td>
                                    <td>
                                        {{ patient.sex }}
                                    </td>
                                    <td>
                                        {{ patient.user.is_active }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
